{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/png" href="{% static 'timetracker/favicon_128.png' %}" />
    <title>{% block title %}{% endblock %} - Planckton</title>
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'timetracker/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        {% if not user.is_authenticated %}
        <a class="btn btn-default navbar-btn navbar-right pull-right" href="{% url 'timetracker:login' %}" role="button"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login</a>
        {% endif %}

        <div class="navbar-header">
          {% if user.is_authenticated %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% endif %}
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="{% static 'timetracker/favicon_128.png' %}">
          </a>
          <a class="navbar-brand" href="/">Planckton</a>
        </div>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbar-top-collapse-1">
          {% if employer_set %}
          <ul class="nav navbar-nav">
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for employer in employer_set %}
                {% for project in employer.project_set.all %}
                <li><a href="{% url 'timetracker:show_project' project.id %}">{{project.name}}</a></li>
                {% endfor %}
                {% if employer.project_set.count != 0 %}
                <li role="separator" class="divider"></li>
                {% endif %}
                {% endfor %}
                <li><a href="{% url 'timetracker:index' %}"><em>Manage projects</em></a></li>
              </ul>
            </li>
          </ul>
          {% endif %}

          <a class="btn btn-default navbar-btn navbar-right" href="{% url 'timetracker:logout' %}" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout</a>
          <p class="navbar-text navbar-right" style="margin-right: 1em;">Signed in as <em>{{ user.username }}</em></p>
        </div>
        {% endif %}
      </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'timetracker/app.js' %}"></script>
  </body>
</html>
