{% extends "timetracker/base.html" %}

{% block title %}Create a new Employer{% endblock %}

{% block content %}
  <div class="container">
    {% if error_message %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> {{ error_message }}
      </div>
    {% endif %}

    <ol class="breadcrumb">
      <li><a href="{% url 'timetracker:index' %}">Projects</a></li>
      <li><a href="">Create a new project</a></li>
    </ol>

    <div class="page-header">
      <h1>Create a new Employer <small></small></h1>
    </div>

    <p>An employer is someone you work for (e.g. 'Planckton IT Solutions').</p>
    <p class="margin-bottom">Each project belongs to exactly one employer.</p>

    <div class="panel panel-default maxwidth50">
      <div class="panel-body">
        <form action="" method="post" class="form-horizontal">
          {% csrf_token %}
          {% include "timetracker/form_snippet.html" with form=create_employer_form submit_text="Create" %}
        </form>
      </div>
    </div>

  </div>
{% endblock %}
