body {
  background-color: #fefefe;
  margin: 0;
  padding: 2em 0 5em 0;
}

.maxwidth50 {
  max-width: 50%;
}

.margin-top1 {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.margin-right {
  margin-right: 1em;
}

.table-fixed-width {
  table-layout: fixed;
}
